%p= @brand.name 

= button_to 'Delete', brand_path(@brand), :method => :delete

= form_for [@brand, @search] do |f|
  %fieldset
    %legend Searches

    %p
      =f.text_field :term 
      =f.submit "Add term"

    %hr

    %ul
    - @brand.searches.each do |search|
      %li= search.term


= form_for @brand do |f|
  %fieldset
    %legend Settings
    = render 'form', :f => f

    %p=f.submit 'Update'
