%h1 Brands

= form_tag  do
  = label_tag :brand, "Brand"
  = select_tag :brand, ('<option value="">--All--</option>'.html_safe + options_from_collection_for_select(Brand.all, :id, :name))
  = submit_tag "Filter"

.results
  %table#results
    %thead
      %tr
        %th Source
        %th Message
        %th Created
        %th
    %tbody
      - if @results.try(:present?)
        - @results.each do |result|
          %tr
            %td= link_to result.source, result.url
            %td
              %p= result.body
            %td= result.created_at.to_s(:long)
      - else
        %tr
          %td{:colspan => 3}
            No results.

  = paginate @results

%ul
- @brands.each do |brand|
  %li= link_to brand.name, edit_brand_path(brand)

= link_to "Add brand", new_brand_path
